
$fontStack: 'Cousine', 'Hack', 'Fira Code', 'IBM Plex Mono', 'BlockZone', monospace;  // fixed width

@mixin typography {                                             
    font-family: $fontStack;
    text-align: left;
    font-feature-settings: "calt" 1;            // Enable ligatures for IE 10+, Edge
    font-feature-settings: "liga" 1;
    text-rendering: optimizeLegibility;         // Force ligatures for Webkit, Blink, Gecko
    // white-space: pre-wrap;
    // word-break: break-all;
    // text-shadow: 0.05px 0 1px rgba(0,30,255,0.5), -0.05px 0 1px rgba(255,0,80,0.3), 0 0 2px;    
}

html {
    font-size: 15px;              
    overflow: hidden;
}

body {
    @include typography;      

    // Background, original by Praveen Puglia
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                      radial-gradient(gray 1px, transparent 0);
    background-size: 11px 11px, 11px 11px;
}
